<form name="ranking-form" action="/update" method="POST">
    <table style="width:100%">
        <tr>
            <th>Topic</th>
            <th>Ranking</th>
        </tr>
        ${rankData.map(topic => `
        <tr>
            <td class="topic-name">${topic.topic}</td>
            <td class="has-input">
                ${rankStatusData.map(status => `
                    <label ${topic.rank === status.rank ? `class="active"` : ''}>
                        ${status.rank}
                        <input type="radio" name="${topic.topic}" value="${status.id}" ${topic.rank === status.rank ? "checked" : ''}>
                    </label>
                `).join('')}
            </td>
        `).join('')}
        </tr>
    </table>
    <button type="submit">Update Rankings</button>       
</form>
